.page{
    
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 150px;
        display: flex;
      
}

.page input{
       width: 250px;
       border-radius: 10px 10px 10px 10px;
}